<header style="background: linear-gradient(45deg, #279460 25%, #005FAB 25%, #005FAB 50%, #279460 50%, #279460 75%, #005FAB 75%, #005FAB 100%); color: white; padding: 20px 0;">
    <div class="container text-center">
        <h1>Conversor JSON-CSV</h1>
        <p>Converta facilmente arquivos JSON para CSV!</p>
    </div>
</header>

<div class="container text-center mt-4">
    <app-conversor-json-csv></app-conversor-json-csv>
</div>

<footer style="background: linear-gradient(45deg, #279460 25%, #005FAB 25%, #005FAB 50%, #279460 50%, #279460 75%, #005FAB 75%, #005FAB 100%); color: white; padding: 10px 0; position: fixed; width: 100%; bottom: 0;">
    <div class="container text-center">
        <p>&copy; 2025 Conversor. Todos os direitos reservados.</p>
    </div>
</footer>

